.about {
    display: block;
    text-align: center;
}

.about__title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about__description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--size-base);
}

.about__menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1em;
    text-align: start;
    padding-left: 0;
}

.about__list {
    list-style-type: '\1F44D';
}

.about__list::before {
    content: '';
    margin-left: 2em;
}

.about__picture {
    margin: 0 auto;
    width: 460;

}